
@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<v-container>
    <v-card>
        <v-card-title>Web Skills</v-card-title>
        <v-divider></v-divider>
        <v-row>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="90" color="orange" :rotate="180" :size="200"
                                         :width="22">
                        <v-icon color="orange" :size="64">mdi-language-html5</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-html">HTML5</h3>
                </v-card>
            </v-col>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="80" color="blue" :rotate="180" :size="200" :width="22">
                        <v-icon color="blue" :size="64">mdi-language-css3</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-css">CSS</h3>
                </v-card>
            </v-col>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="75" color="#FFC502" :rotate="180" :size="200"
                                         :width="22">
                        <v-icon color="#FFC502" :size="64">mdi-language-javascript</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-js">JAVASCRIPT</h3>
                </v-card>
            </v-col>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="80" color="blue" :rotate="180" :size="200" :width="22">
                        <v-icon color="blue" :size="64">mdi-jquery</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-jquery">JQUERY</h3>
                </v-card>
            </v-col>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="60" color="blue" :rotate="180" :size="200" :width="22">
                        <v-icon color="blue" :size="64">mdi-language-php</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-php">PHP</h3>
                </v-card>
            </v-col>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="80" color="green" :rotate="180" :size="200"
                                         :width="22">
                        <v-icon color="green" :size="64">mdi-vuejs</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-vue">VUEJS</h3>
                </v-card>
            </v-col>
            <v-col>
                <v-card width="240" class="mx-auto" flat>
                    <v-progress-circular :value="70" color="blue" :rotate="180" :size="200" :width="22">
                        <v-icon color="blue" :size="64">mdi-vuetify</v-icon>
                    </v-progress-circular>
                    <h3 class="text-center skill-vuetify">VUETIFY</h3>
                </v-card>
            </v-col>
        </v-row>
    </v-card>
</v-container>